.idea
.gradle
.DS_Store
*.iml
local.properties
*.orig
*.rej
keystore.properties
keystore-huawei.properties
captures/*
fabric.properties
**/build/*
**/release/*
app/src/rustore/*
app/src/mts/*

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.externalNativeBuild
.cxx
